@model TopPolymersDb.Models.LCNo

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>LCNo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LC_No)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LC_No)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LC_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LC_Date)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.LC_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
